<div id="sidebar">
	<ul style="display: block;">
		<li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>表单</span> </a>
			<ul>
				<li><a href="form-common.html">基本表单</a></li>
				<li><a href="form-validation.html">带验证的表单</a></li>
				<li><a href="form-wizard.html">带提示的表单</a></li>
			</ul>
		</li>
	</ul>
</div>